.msgIcon {
    text-decoration: none;
    font-size: large;
    padding: 5px;
}

.msg-mine {
    background-color: #1487FB !important;
    color: white;
}

.msg-body {
    background-color: #E9E9EB;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left:0px; margin-right:0px;
}

.msg-sender {
    color: #949496;
    font-size: x-small;
}

.msg-preview-bubble {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 1em 1em 0.2em 1em;
    border: solid grey 1px;
}

.msg-width {   /* each individual message max width as % of total available width */
    width: 80%;
}

.msgs-width {  /* whole message offcanvas panel */
    width: 100%;
}

.msg-emergency {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
}

.msgs-footer {/*
    position: absolute;
    left: 0px;
    bottom: 0px;*/
    width: 100%;
    margin: 10px;
}
