.wp_list_mode_btn {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: .5em;
    height: 2em;
}

.wp_list_delete_btn {
    display: block;
    float: right;
    height: 2em;
    z-index: 2000;
}

.wp_list_item {
    height: 100%;
    white-space: nowrap;
    padding: 0%;
}

.wp_list {
    min-height: 3em;
}
